@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('https://static.republika.co.id/uploads/member/images/news/2x4cu8nrv8.jpg') no-repeat center center;
    background-size: cover;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(45, 6, 218, 0.88);
}

.facility-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(63, 23, 245, 0.87);
}
